{{!< default}}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{#post}}

        <header>
        <h1 class="post-title">{{{title}}}</h1>
        <!--<div class="post-meta"><time datetime="{{date format='DD-MM-YYYY'}}">{{date format="dddd, DD MMMM YYYY"}}</time></div>-->
        {{#if tags}}<div class="post-meta tags">Posted in: {{tags}}</div>{{/if}}
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <section class="share">
            <p class="info prompt">Share this post</p>
            <a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <span class="ion-social-twitter"></span>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <span class="ion-social-facebook"></span>
            </a>
            <a href="https://plus.google.com/share?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <span class="ion-social-googleplus"></span>
            </a>
        </section>

        <footer class="post-footer">
            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
                <form action="//schematical.us6.list-manage.com/subscribe/post?u=3565b8df39d26f84645b27784&amp;id=d8d9a8f9ab" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <label for="mce-EMAIL">Subscribe to our mailing list</label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_3565b8df39d26f84645b27784_d8d9a8f9ab" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
            </div>

            <!--End mc_embed_signup-->
            {{#if author}}
            <section class="author">
                <div class="authorimage" style="background: url({{author.image}})"></div>
                <p class="attr">Author:</p>
                <h4><a href="{{author.website}}">{{author.name}}</a></h4>
                <p class="bio">{{author.bio}}</p>
            </section>
            {{/if}}

        </footer>

        {{/post}}

        {{> comments-disqus}}

    </article>

</main>
